* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

#gameHeadInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  /* border: 2px solid black; */
}

#btnNewGame {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  background-color: crimson;
  color: white;
  border: none;
}

#gameHeadInfo h1 {
  color: red;
  grid-column: span 1;
}
#currentPlayers {
  grid-column: span 1;
}

#gameHeadInfo h2 span {
  color: brown;
}
#game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 5px;
  margin-top: 10px;
}

#game div {
  border: 1px solid black;
  width: 100%;
  height: 200px;
}

.jokerImg {
  background-image: url(./image/tenor.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* All Time Scores */
#allTimeScoresDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 40px 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

#allTimeScoresDiv h1 {
  grid-column: span 2;
  background-color: crimson;
  color: white;
  width: 100%;
  /* height: 30px; */
  text-align: center;
  /* border-radius: 10px; */
}

.classInvi {
  display: none;
}

/* This is the colum 1 of the Top 12 Scores */
#btnAllTimeScores {
  height: 40px;
  width: 95%;
  border-radius: 10px;
  background-color: #e8b524;
  color: white;
  border: none;
  grid-column: span 1;
  font-weight: bold;
  font-size: 1rem;
}

/* This is for the plus sign and negative sign */
.collaNow:after {
  position: relative;
  content: "\002B";
  color: white;
  font-weight: bold;
  left: 60px;
  font-size: 1rem;
}

.active:after {
  content: "\2212";
}
/* ___________________________________________ */

#olListTop {
  grid-column: 1;
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-top: 15px;
}
#olListTop li {
  /* margin: 0 0 0.5rem 0; */
  margin-bottom: 20px;
  counter-increment: my-awesome-counter;
  position: relative;
  font-size: 1.5rem;
}
#olListTop li::before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: #e8b524;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}
#olListTop li span {
  color: green;
}

/* This is the colum 2 of the Bottom 12 Scores */
#btnAllTimeBottom {
  height: 40px;
  width: 95%;
  border-radius: 10px;
  background-color: #ac8858;
  color: white;
  border: none;
  grid-column: span 1;
  font-weight: bold;
  font-size: 1rem;
}

#olListBottom {
  grid-column: 2;
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-top: 15px;
}
#olListBottom li {
  /* margin: 0 0 0.5rem 0; */
  margin-bottom: 20px;
  counter-increment: my-awesome-counter;
  position: relative;
  font-size: 1.5rem;
}
#olListBottom li::before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: #ac8858;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}
#olListBottom li span {
  color: red;
}

/* This is the CSS For The New Game PopUp */

/* Full-width input fields */
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button#restatGame {
  background-color: crimson;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 100%;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

/* span.psw {
  float: right;
  padding-top: 16px;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /*Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
